[2014-06-03 21:45] imoutsatsos opened #16 "Uno-Choice Scriptler should accept a referenced parameter as a script parameter"
I have noticed that using a Scriptler to provide a dynamic choice list works when the UI referenced parameter is 'hard-coded' in the script, but does not work when I try to pass it in a scipt parameter. I will document this in a bit more detail tomorrow.

Basically if we have a UI parameter named DATA_RUN it can be used as such in the Scriptler and it works. If the Scriptler has a parameter named

[2014-08-04 16:45] imoutsatsos opened #23 "File Parameter can't be referenced by Uno-Choice, and interferes with other parameters"
It appears that a file parameter can't be referenced by an Uno-Choice control. File parameters are used to upload files to the server. Being able to reference the 'File Location' parameter in a Uno-Choice control should be supported.

![untitled_clipping_080414_123738_pm](https://cloud.githubusercontent.com/assets/3408226/3800190/a7864630-1bf5-11e4-85dd-50c1b067ac25.jpg)

In addition, when a file

[2014-09-17 15:57] imoutsatsos opened #36 "Maintain Uno-Choice selections between filter applications"
Any selections made using the current uno-choice control are lost when the options list is updated after you apply a filter. It would be useful to **maintain the existing selections between filtering operations** of the same list.

This becomes even more important when the options list is long and the filter (a really useful feature of the current implementation) allows you to select successive re

[2014-11-04 10:25] christophdebaene opened #43 "Using variables with Scriptler for Parameter Value"
Hi,

I am trying to pass a variable, which is already defined through a 'Uno-Choice Dynamic Choice Parameter' through another one using 'Uno-Choice Dynamic Choice Parameter (Scriptler)'.

Without Scriptler you can get the variable by using binding.variables.get('SomeParameter') but how can it be passed through Scriptler?

Below you find a little example to illustrate the scenario.

![image](https:

[2014-11-04 16:32] tknerr opened #44 "Access to build environment variables in "Uno Choice Cascade Dynamic Choice Parameter"?"
Hi everybody,

is it possible to access build environment variables within the "Choices Script" of an "Uno Choice Cascade Dynamic Choice Parameter"?

Specifically, I wanted to do something like this:
[code]

However, I have no clue on how to get hold of the `build` object representing the currently executing build.

Is it possible at all?

[2014-11-07 09:57] keiti opened #45 "NoSuchMethodError using Cascade dynamic choice plugin"
See error below. I don´t think this depends on my settings, but here is my script:

if (binding.variables.get('Instanz') != null) {
  instanz= binding.variables.get('Instanz')
    if (instanz == 'QS') {
         return ['branches/Code/Migration-APFUmstellung-Trunk']
    } else {
        return ['DEV', 'TEST', 'TEST-INTEGRATION']
    }
} else {
  return []
}

HTTP ERROR 500

Problem accessing /job/

[2014-11-12 10:22] adrianx opened #46 "Uno-choice Cascade Dynamic choice parameter with the Property file"
hi

i'm trying to use this great plugin. but i don't know how to handle the return with Property file.
in the wiki demo. it can support like this fixed value:
return ['Waiter', 'Actor', 'Usher']

and we have more than 20 values should be return, and it'll be updated in any time. so i have to put the property file in here. can you show how to handle it?

thanks
Adrian

[2014-11-13 16:43] gilShin opened #47 "New parameter type"
I would like to have a new parameter type that'll be a Boolean.
This new type will be a multi check box selection that if one selects a check boxes, the value of that parameter of that check box would be true and if it will be left unticked, its value would be false.

[2014-11-18 19:37] imoutsatsos opened #50 "Image Gallery Support not implemented in UC v0.21?"
Trying to migrate a project to the UC v0.21
The original project contained an UC Dynamic Reference Parameter of 'Simple Image Gallery' type.
![image](https://cloud.githubusercontent.com/assets/3408226/5094588/266e6bf2-6f30-11e4-9dd2-cf8153678340.png)

However, I no longer see this option in the UC v0.21.
![image](https://cloud.githubusercontent.com/assets/3408226/5094609/4e86dbc4-6f30-11e4-85d8-de

[2014-11-27 14:42] bes3 opened #60 "Supporting Jobs triggered by plug-ins, API and scripts"
In Uno-choice widgets seems that the Value Scripts is not evaluated when the Job is launched from events or automatically (without user interaction) and the parameter is null.

Here an example of this beahviour comparing Uno-choice widgets (version 0.21) against others common input control widget such as Dynamic Parameter and Dynamic Choice Parameter.

'''JOB CONFIGURATION AND BUILD VIEW'''
I remo

[2014-12-01 11:28] Sjoel opened #62 "Importing a Job with cascade dynamic choice parameter"
The Uno-choice cascade dynamic choice parameter will not load if the job config.xml is imported(probably because of the UUID element in the config.xml). Is there a way to import jobs without losing the parameter?

[2014-12-04 18:21] imoutsatsos opened #63 "DB Based choice provider"
There is a group that has reported the availability of a database based choice provider.
https://issues.jenkins-ci.org/browse/JENKINS-24274

![image](https://cloud.githubusercontent.com/assets/3408226/5303531/46d65186-7bb8-11e4-9a9c-86ac010c5af2.png)

The code is for extending the [Extensible Choice Parameter plugin](https://wiki.jenkins-ci.org/display/JENKINS/Extensible+Choice+Parameter+plugin) b

[2014-12-17 16:34] imoutsatsos opened #68 "Fatal Errors when Uno-Choice returns a null value"
Using v0.22 snapshot. This is related to two previously reported issues #30 and #59
![image](https://cloud.githubusercontent.com/assets/3408226/5474522/176905ec-85e0-11e4-9e89-c68865ff5c00.png)

![image](https://cloud.githubusercontent.com/assets/3408226/5474530/249e6a4a-85e0-11e4-8204-5ef8ce6b9b30.png)

You can reproduce it on the test server at:
http://162.243.246.75:8080/job/cascade-exampleStat

[2014-12-17 20:52] imoutsatsos opened #69 "Uno-choice Scriptler configuration displays static cached parameter values"
Sorry that Scriptler script testing is coming so late in the process!

Our famous example of Brazilian State-Cities cascade has now been implemented with a Scriptler script. Re-opening the configuration I see a new Scriptler parameter (**States** ) that **I did not add** .
![untitled_clipping_121714_032403_pm](https://cloud.githubusercontent.com/assets/3408226/5478250/bf9a50d4-8600-11e4-9123-a4a3b

[2015-01-03 20:00] jrampon commented on #60
Hello, I'm having the same issue. This is new behavior from version 0.21 though. The previous version I was using, 0.19, was correctly setting values when run from a timer. I had to revert to it until this issue gets fixed.

[2015-01-04 00:28] kinow commented on #60
Hi @jrampon ! Thanks for your pointer. I thought that this had never worked before. And a special thanks for pointing the versions you were using. I'll check the changelogs to see if we can figure out what's happening.

[2015-01-05 16:36] imoutsatsos opened #70 "When UC options get filtered the first option does not cacscade value changes"
Happy new year @kinow ! Hope 2015 produces a record deficit of bugs!

This one does not get logged towards 2015 since I've detected it before going on holidays ;-)

When applying a filter to uno-choice options the first value on the resulting list does not trigger cascade changes.
See http://162.243.246.75:8080/job/issue-70

In or famous state-cities example when the option list contains a single

[2015-01-05 23:00] kinow commented on #70
Happy new year @imoutsatsos !!!

Hmmm, interesting issue... maybe I've overseen it during our tests, because I think I remember having this problem somewhere in the past.

I'll finish some development cycle on other tools and will get back at BioUno development within some days. Stay tuned for a wave of issue fixes (hopefully fixes + tests) :)

[2015-01-06 09:10] RoeiA commented on #16
Just wanna say, that this plugin is great!
However, I can't access a referenced parameter in my Scriptler Groovy script. My job parameter config is this:

![image](https://cloud.githubusercontent.com/assets/8946031/5626403/7e4f0514-9593-11e4-891f-3c9d8e0d50df.png)

and my script is this:

![image](https://cloud.githubusercontent.com/assets/8946031/5626434/ff70b9f8-9593-11e4-8418-3ba33443bc6a.png)

[2015-01-06 16:08] imoutsatsos commented on #16
Hi @RoeiA
In the current Uno-Choice version you have to reference the variables in the script with the names available in the binding. Issue #16 prevents you from assigning a binding variable to a script variable as you (and me) are assuming.

So to get this to work try in you scriptler script replacing **rollback** (the script variable) with **ROLLBACK**  (the binding variable):

[code]

Note tha

[2015-01-07 08:25] RoeiA commented on #16
Thanks for the quick response @imoutsatsos!

I tried both options you suggested and still it doesn't work.
with the second option I wrote in my scriptler this:

![image](https://cloud.githubusercontent.com/assets/8946031/5642702/dee40a28-9656-11e4-96d0-f35bbbf49a28.png)

(The println is just for debugging)

And the jenkins log shows this:
`Rollback = null`
`Jan 7, 2015 8:18:53 AM org.biouno.unocho

[2015-01-07 12:17] imoutsatsos commented on #16
Hi @RoeiA ; I'm sorry this is still an issue.
Please, install uno-choice v 0.22 from here:
https://groups.google.com/forum/#!topic/biouno-developers/awNMG5QqYSk

and retry.
I have build a test project and it seems to work for me with v 0.22.
give it a try here: http://162.243.246.75:8080/job/issue16A

![image](https://cloud.githubusercontent.com/assets/3408226/5645381/b6d6b540-963c-11e4-8387-de2d5

[2015-01-07 14:16] imoutsatsos commented on #16
You are welcome! Thanks for your persistence @RoeiA !

[2015-01-10 01:20] kinow commented on #16
Fixed. Now parameters in the Scriptler configuration - in the job config - can be defined by the user (e.g. "weather" => "sunny") or can reference the name of other parameters (e.g. "brazilianState" => ${State}).

The notation is the same used throughout Jenkins for referencing variables. One downside, is that users will have to update jobs if they were expecting that the plug-in would hard-code t

[2015-01-10 02:28] kinow commented on #68
Not as tricky as I thought it earlier. In summary, added a verification to change the value to an empty String if the value returned by the parameter was null. I believe it now mimics the behaviour in Jenkins.

[2015-01-10 02:50] kinow commented on #68
Deployed to our testing server, seems to be working. Please give it a try @imoutsatsos :D

[2015-01-10 02:51] kinow commented on #16
Deployed to our testing server @imoutsatsos . Hopefully working now.

[2015-01-10 03:01] kinow commented on #69
Hi @imoutsatsos, I'm going have to ask you to check if this issue has been fixed. I couldn't test it before fixing two other issues today. But think it is not happening anymore.

The best explanation I have, is that before we were "merging" the UI parameters, with the Scriptler job configuration parameters. Causing the "cached" value (actually the value selected in the UI, that got merged with the

[2015-01-11 02:18] imoutsatsos commented on #69
Thanks @kinow ! I will retest all the issues you fixed this weekend this coming week. Looks like things are really ready for releasing the Jenkins hosted uno-choice v1.0! Exciting!!

[2015-01-11 03:19] kinow commented on #69
Thank you too for your patience and thorough testing @imoutsatsos !

And indeed, 2015 seems to be a promising year for Uno-Choice plug-in. Once tis released I'll bother you other ideas :)

[2015-01-11 03:21] kinow commented on #60
Will try to include this in the next sprint, maybe we can ship this with 1.0.

[2015-01-11 19:26] kinow commented on #70
Added a simple propagation event, so that when the filter gets updated (i.e. the user enters a key in the filter input box) it tells the parameter that it changed.

We need to test if this new event is not interfering with other elements. But I think it will work. We don't have tests covering event propagation yet.

[2015-01-11 20:21] kinow commented on #60
Successfully reproduced it locally, used a vanilla parameter, a parameter provided by the dynamic parameter plugin, and another unochoice parameter. Investigating...

[2015-01-11 20:58] kinow commented on #60
Bit of background to explain what went wrong, and why the dynamic-parameter-plugin worked...

In the past we worked only with lists, as the dynamic-parameter-plugin. However, after users requested to be able to define the key:value's of some HTML elements (like `<SELECT>` elements), we migrated the underlying data structure that holds parameter values in the UI to a `java.util.Map`.

This part of

[2015-01-11 21:01] kinow commented on #62
@Sjoel , unfortunately it won't be possible to migrate jobs to this newer version. Even though it would be simple to tell XStream (Jenkins underlying XML serialization library) that the UUID field was removed, we've changed lots of other parts, like the way we store Scripts (Groovy or Scriptler) as sub properties, rather than defining two types of each parameter for each script type.

I'm closing

[2015-01-11 21:01] #62 closed

[2015-01-11 21:04] kinow commented on #50
Ping @imoutsatsos , can we close it? I think we can document in the Jenkins Wiki how to create an image gallery like in this job - http://162.243.246.75:8080/job/sample-image-gallery/

WDYT?

[2015-01-11 21:12] kinow commented on #63
Commented in the issue - https://issues.jenkins-ci.org/browse/JENKINS-24274

Seems like there has been no reply of the plug-in maintainer, so we may have to try our best at a new implementation of a similar parameter type.

[2015-01-11 21:16] kinow commented on #45
Hi @keiti, I'm not able to reproduce this issue in Jenkins. Closing it as we're preparing to cut a release to Jenkins update center. I don't believe we'll support Hudson, but please feel free to update this issue in case you find anything, or need some help.

[2015-01-11 21:16] #45 closed

[2015-01-11 21:17] kinow commented on #46
Closing due to no activity. @imoutsatsos provided a detailed example, please feel free to update the issue in case it works, or post your comment if you have further problems. Thanks!

[2015-01-11 21:17] #46 closed

[2015-01-11 21:18] kinow commented on #47
ping @gilShin ? We're preparing to release 1.0 to all Jenkins users, and probably we'll move some issues to Jenkins JIRA or will close them before releasing.

[2015-01-11 21:23] kinow commented on #43
Hi @christophdebaene ! Good news, we've been working on another issue that should fix this one too.

Take a look at issue #16, I'll leave this issue open while Ioannis is testing the issue's fix.

Thanks!

[2015-01-11 21:24] kinow commented on #36
Hmmm, this issue will probably stay behind after the 1.0 release. We can ship it into a version later 1.0.

[2015-01-11 21:36] kinow commented on #44
Hello @tknerr

Sorry for the delay. Here's how to access environment variables:

[code]

Just tested it with the latest version, and seems to work. Can you give it a try, please?

[2015-01-11 21:43] imoutsatsos commented on #50
I agree we can close this @kinow . The only thing missing by not implementing pictures as a gallery is the pop-up visualization window.  Useful but not necessary. The only question is whether to assign it a post 1.0 label. We may need to hash the pros and cons in a hangout. Thanks!!

[2015-01-11 22:01] tduchateau commented on #63
Comment added ;-)
I'll keep you posted as soon as the fork is available.

[2015-01-11 22:33] kinow commented on #63
Yay, thanks for the quick response @tduchateau. Would you mind if we shamelessly copied your code to this plug-in too? :-) All credits will go to you.

[2015-01-11 22:53] tduchateau commented on #63
Of course! Also feel free to improve or even rewrite it! ;-)

[2015-01-11 22:58] kinow commented on #50
Let's leave it as it is, and simply not include it in 1.0. We can definitely re-release the image gallery later. Since my only argument was that it would include extra resources (JS, CSS, images), maybe we can work on this issue... maybe finding a way to load it only when using image galleries...

Let's do another hangout and explore our alternatives :-D (a good excuse for having some good geek ta

[2015-01-11 23:01] kinow commented on #63
Thanks @tduchateau ! We'll make sure to include the credits and, in case we find ways to improve it, we'll definitely ping you to see if there's some interest in re-using the code :-)

[2015-01-12 21:51] imoutsatsos commented on #16
Excellent. It looks good!
We should note that this really simplifies the way scriptlets get parameterized. Note that a scriptler does not have to do anything special to define variables whose name/values are assigned in the parameter configuration.

For example given the following configuration:
![untitled_clipping_011215_044109_pm](https://cloud.githubusercontent.com/assets/3408226/5711602/d0b2a2

[2015-01-12 21:53] imoutsatsos commented on #43
+1 @kinow . This should fix it!

[2015-01-12 21:59] kinow commented on #16
Yay, nice @imoutsatsos ! You were right about fixing this. I don't use much Scriptler parameters, but now I see that it would be a big problem to maintain lots of scriptler scripts because of different parameter names. Thanks!

[2015-01-12 22:33] tduchateau commented on #63
Hey!

PR submitted: https://github.com/jenkinsci/extensible-choice-parameter-plugin/pull/8 ;-)

[2015-01-12 22:42] kinow commented on #63
Awesome @tduchateau ! And already includes French translation :-) Thanks a lot!!!

@imoutsatsos I'm not really sure how to integrate this PR in unochoice right now, without changing many parts of the code. Let's push it to 1.1 or maybe a 2.0 release?

I never read Extensible Choice Parameter Plug-in's code. If I had read it before, I'd probably copy their extension point for ChoiceListProvider...

[2015-01-13 03:21] imoutsatsos commented on #63
Agree. This should be a post 1.0 feature. Settings per job is the way to go too. We can think about the implementation details. Thanks @kinow  and @tduchateau !

[2015-01-16 12:24] imoutsatsos opened #71 "Filter not active when Uno-Choice options are refreshed"
In the current implementation of UC cascade dynamic parameter the filter is no longer in effect once the UC gets updated. The current filter should also take effect once the options list is updated from a parameter change trigger.

I will write a test job to go along with it...

[2015-01-16 12:28] kinow commented on #71
Thanks @imoutsatsos ! I'll take a look at the job once you've created it and will try to fix it during this weekend :-)

[2015-01-16 22:05] imoutsatsos commented on #71
Hi @kinow!
I have now added an example that you can check with the new code updates.
http://162.243.246.75:8080/job/issue-71

Have a good weekend!

[2015-01-16 22:08] kinow commented on #71
Will open the Eclipse workspace in a few minutes.

Thanks Ioannis! Have a great weekend too! I'll have fun with Uno Choice and with the PBS Plug-in :D

[2015-01-16 22:40] kinow commented on #71
Hello again @imoutsatsos!

I think that after you selected **Female**, the filter should be cleared. We can trick the browser by sending a key up event and pretend that the HTML element is being filtered. But I think it would be easier to simply clear the filter text field.

What do you think?

[2015-01-16 22:41] kinow commented on #71
Perhaps in the future we can evolve to better filtering. Where we can add several filters like in some web stores. Then you could pin filters to your job configuration, and they would get used across your selections.

At the moment we have one of the simplest filters I think.

[2015-01-20 19:07] imoutsatsos commented on #71
Hi @kinow and thanks for looking into this.
I suppose that for release v1.0 we can clear the filter text as a simple alternative and then we can think of a better implementation. I will enter a new post 1.0 enhancement requirement then.

[2015-01-20 19:17] imoutsatsos commented on #70
This seems to work as expected now. I have not observed any other issues, but I'm still doing some additional testing with a bunch of projects that I have migrated to v0.23. Thanks for completing another 1.0 milestone @kinow !

[2015-01-20 21:59] kinow commented on #70
Yay! Thanks @imoutsatsos ! With every issue we get closer to 1.0! \o/

[2015-01-20 23:20] kinow commented on #71
New version deployed, hopefully http://162.243.246.75:8080/job/issue-71 now provides the correct behaviour @imoutsatsos

[2015-01-22 12:01] imoutsatsos commented on #69
Looks good on our Jenkins Test server @kinow ! I will further test with some projects at work today (where scriptlets are heavily used) and I will close. All of my project have now been transferred to the new code base and I'm quite pleased! Uno-choice is quite solid! Thanks!!

[2015-01-22 12:04] kinow commented on #69
Yay, thanks for (again) thoroughly testing the changes. Some users reported the plug-in being slow in some cases. I'm waiting for their feedback, but I think it should not be a blocker for a 1.0 (after all, 1.1 is just a matter of few shell commands to release).

[2015-01-22 13:07] imoutsatsos commented on #69
I think the old code base was slow performing. I had Jenkins build forms with 6-10 Uno-choice controls and you did have to wait for a few seconds to load and update. However, I'm finding the new code base much improved. I will give you some additional feedback once my UC v0.23 projects have been deployed for general use. Doing a 'production' roll out today!

[2015-01-22 13:30] kinow commented on #69
Good luck Ioannis! Drop me a message if you need anything :D

[2015-01-23 19:51] imoutsatsos opened #72 "UC Cascade parameters do not work on Internet Explorer"
Who would have thought to test this one out!

Here is our test server example on Chrome:
![image](https://cloud.githubusercontent.com/assets/3408226/5881438/d1b00770-a30e-11e4-860e-6b2466ac8d53.png)

and here it is on Internet Explorer
![image](https://cloud.githubusercontent.com/assets/3408226/5881445/dfcc8fa4-a30e-11e4-9f7b-1ba8f61bce63.png)

Major issue for me as my users almost exclusively use

[2015-01-23 19:56] kinow commented on #72
Well, I **think** I have an old Windows box somewhere with a recent version. Give me some time and I'll give it a try. Should be a matter of using different JavaScript methods I suspect - even though we are using JQuery, sometimes I call DOM methods that may be different depending on your browser

[2015-01-23 20:06] imoutsatsos commented on #72
Thanks @kinow !! On Chrome everything seems to work great!
In fact I only realized this after I did my 'production roll-out'. Thanks God the weekend will buy me sometime to decide whether to roll back to the pre v0.22 version of Uno-Choice which seems to work as expected on IE.
As a heads up, it basically looks like the parameters are not passed to the groovy script

[2015-01-23 20:16] kinow commented on #72
Let's see if I can get it fixed by Sunday. Maybe you won't have to roll back your environment at all :-)

Thanks for the heads up on the parameters. Guess it is not being able to retrieve the values from the parameters' HTML elements (which it uses DOM methods sometimes).

[2015-01-23 20:24] imoutsatsos commented on #72
Thank you @kinow !! Much appreciated! I hope you can work out a solution. These browser specific issues are such a hassle!

[2015-01-24 23:39] kinow commented on #72
Hi @imoutsatsos... I tried to reproduce the issue with no success. It worked in a brand new VM running in VirtualBox.

![001](https://cloud.githubusercontent.com/assets/304786/5889490/501c54a8-a411-11e4-9d25-cb26382a070a.png)

It's been a while since the last time I used Windows (even more time since I used IE), but if I recall correctly, there is some kind of mechanism to enable/disable script co

[2015-01-25 03:36] imoutsatsos commented on #72
Well I think this is good news @kinow ! I also just tried it with IE v11 running on my Windows 8 at home and it seems to work fine. I'm wondering if somehow the security settings on our corporate IE 9 prevent some javascript actions. Still strange that the older version worked (and still does). Thanks for testing. I will review the issue and script compatibility some more and try to get some ideas

[2015-01-25 04:49] kinow commented on #72
Hmmm, the files loaded by the script should all be hosted in Jenkins. But it could be preventing some DOM manipulation maybe. Not sure how strict IE can be with security and scripts.

Thanks Ioannis! Have a great weekend too and I hope the weather will get better! That's a good weather for programming and working on nerd things too, by the way :-D

[2015-02-03 22:49] imoutsatsos commented on #72
The issue is reproducible at work using IE9 but i'm currently waiting to upgrade to IE11. Once this is done I will re-try and let you know . For the time-being we can assign this issue a low priority!

[2015-02-03 23:05] imoutsatsos opened #73 "Value changes of Dynamic Reference are cascaded erratically"
Sometimes they do and sometimes they don't. I have noticed this with a specific sequence of uno-choice parameters and I have reproduced a test case for you here:
http://162.243.246.75:8080/job/issue-73/

Notice that when you first load a page the entire cascade works as it should
![image](https://cloud.githubusercontent.com/assets/3408226/6031523/27fae68c-abce-11e4-9960-a78d7f4d126c.png)

You can

[2015-02-18 19:52] imoutsatsos opened #74 "UC Dynamic Reference: Missing Reference Parameter when rendered as D3 Graph"
Started experimenting with the idea that an uno-choice parameter can be rendered as a fully dynamic D3 graph.

Initial results **look encouraging!**.
See: http://162.243.246.75:8080/job/TEST_D3_SCATTERPLOT project.

![image](https://cloud.githubusercontent.com/assets/3408226/6254915/14f72ee4-b77a-11e4-968d-ad00753ec811.png)

This is the configuration of the UC Dynamic Reference Parameter displayin

[2015-02-18 21:05] kinow opened #75 "Implement security with script-security plug-in"
From https://groups.google.com/forum/#!topic/jenkinsci-dev/qUBLhE-4ybY

[2015-02-20 16:47] imoutsatsos commented on #23
The value of a file parameter is not returned using UC v0.23

See: http://162.243.246.75:8080/job/issue-23/build

![image](https://cloud.githubusercontent.com/assets/3408226/6304992/26a7a0b0-b8f6-11e4-9acc-9f7b2009c6ee.png)

[2015-03-04 16:45] gilShin commented on #46
I can confirm that 0.22 solves this issue. Had the same problem with 0.21

Thanks

[2015-03-04 22:54] kinow commented on #46
Thanks for the feedback @gilShin !

[2015-03-11 20:23] kinow commented on #23
Had a look at the commit that fixed the issue, seems like it's not so hard to fix (and write a test for it). Will try to fix it till this weekend and deploy a new version in our testing instance.

[2015-03-12 04:05] kinow commented on #23
Just deployed a new version. Can you take a look if that's fixed, please Ioannis?! :-)

The issue was caused during the refactoring of the code. Quite simple to fix.

[2015-03-12 08:30] Scorpio99 commented on #72
Me too, i am facing the same issue with IE9. Is the problem fixed?

[2015-03-12 14:30] kinow commented on #72
Hi @Scorpio99, I couldn't reproduce the problem in IE9 with a modern.ie virtual machine. If we can find a way to reproduce the issue, it must be quite easy to fix the issue. Do you have more details on your environment configuration that may help us to reproduce it?

[2015-03-13 05:38] murarisumit opened #76 "Getting "Signature verification failed in update site 'biouno-update-center' ""
I've followed the steps given in "http://biouno.org/jenkins-update-site.html"
After updated the plugin, got this error ==> " Signature verification failed in update site 'biouno-update-center' "

What am I missing..?

[2015-03-13 09:02] Scorpio99 commented on #72
What details do you need, i am using IE9 with windows 7, 64bit and at work. So may be there are some settings for IE at work which they block, so i am not sure which settings to change on. Tried a few but there was no success.

[2015-03-13 14:03] kinow commented on #72
Job configuration (the more details the merrier), Jenkins logs and JavaScript console messages, and OS configuration. Ideally, trying to isolate the problem, i.e. finding the simplest job configuration to reproduce the issue. Thanks!

[2015-03-13 23:36] kinow commented on #76
Hi @murarisumit, did you check that you needed a certificate, and included the certificate provided in the site that you mentioned? I'm going to quickly set up a test env to give it a try.

[2015-03-13 23:42] kinow commented on #76
Issue reproduced. I will check if something changed in the update center server. Thanks for reporting! :)

[2015-03-14 00:21] kinow commented on #76
Tried with LTS too, looks like there are similar issues already in Jenkins JIRA:

https://issues.jenkins-ci.org/browse/JENKINS-13498

[2015-03-16 10:51] imoutsatsos commented on #23
This looks good! closing and hope it will never come back again with the new tests in place! Thanks Bruno!

[2015-03-16 10:51] #23 closed

[2015-03-16 12:45] kinow commented on #23
Err, forgot to mention. I couldn't write a test for it. Actually, there is already a test in place, but it is not working due to JavaScript security. IIUC, there is no way to change file upload with JavaScript, as that could take to security problems in browsers.

[2015-03-16 16:31] imoutsatsos commented on #23
...in that case I trust in your programming magic! ;-)

[2015-03-20 20:31] imoutsatsos commented on #76
Same here using Jenkins v 1.596.1. This is the log output:
[code]

[2015-03-20 22:29] kinow commented on #76
Thanks for the feedback @imoutsatsos ! I'll investigate this issue during this weekend. Hopefullly by Monday everything will be working again :-)

[2015-03-23 13:36] varjojukka commented on #60
I tested this with version 0.23 (https://groups.google.com/forum/#!topic/biouno-developers/REx4-sk_xSs) and found one thing still not working: regardless of groovy script default selection (described in https://wiki.jenkins-ci.org/display/JENKINS/Uno+Choice+Plugin) or selected "choice type" the triggered build results in including only the first item in the return list. This applies to at least "s

[2015-03-23 13:46] kinow commented on #60
Hi @varjojukka, I am working to fix an issue with certificates in the update center, but will try to reproduce and investigate the issue in the next days. Feel free to update this issue should you have any new information. Thanks!

[2015-03-24 00:02] kinow commented on #76
Works with Jenkins 1.580. Looks like something changed in UpdateSite. I'm using [this baseline](https://github.com/jenkinsci/jenkins/blob/jenkins-1.580/core/src/main/java/hudson/model/UpdateSite.java) to compare with other branches/tags.

A work around is copy the Update Center's certificate to a path within $JENKINS_HOME/war/WEB-INF/. But I prefer to fix the issue instead of teaching users how to

[2015-03-24 00:55] imoutsatsos commented on #76
oh me too! I prefer a fix but sometimes you have to apply a workaround...

[2015-03-24 10:57] imoutsatsos commented on #60
@varjojukka Try adding a 'dummy' referenced variable and see if this fixes it. I had some situations where I needed to pass in a referenced parameter to get this to work (with v0.23) . So add something like TEST for a referenced parameter. It does not have to exist in the Jenkins parameters.

[2015-03-25 07:02] varjojukka commented on #60
Thank you for the tip but dummy reference parameter did not solve the issue in my case using Jenkins ver. 1.588 and 1.580.3. Also the text ":selected" is included in the parameter name if used on the first return list item.

[2015-03-25 10:46] imoutsatsos commented on #60
@varjojukka I have been unable to reproduce the issue using Chrome with Jenkins-CI ver 1.598 and the latest Uno-Choice plugin. Both Dynamic Choice and Cascade Dynamic Choice seem to work as designed.
![screenshot_032515_064627_am](https://cloud.githubusercontent.com/assets/3408226/6823018/aa61c10a-d2ba-11e4-88fe-029bd7bc6af3.jpg)

![screenshot_032515_063940_am](https://cloud.githubusercontent.com/

[2015-03-25 11:00] varjojukka commented on #60
@imoutsatsos could you point me to the private-b43e1003-kinow version .hpi file? I tried searching the google groups topics with no luck. Seems like I'm using the version appearing in your "downgrade to" button, which could explain all this :)

[2015-03-25 11:10] imoutsatsos commented on #60
@kinow Hi Bruno. Can we make the most recent update of Uno-Choice available through the BioUno update center? Even if it just works with the workaround you've suggested https://github.com/biouno/uno-choice-plugin/issues/76

@varjojukka while waiting for an easy way to get to the latest update, perhaps you could build it from source https://github.com/biouno/uno-choice-plugin

@varjojukka I've test

[2015-03-25 12:19] kinow commented on #60
Sure @imoutsatsos, should we release it as 0.x until we get the update center fixed?

[2015-03-25 12:27] imoutsatsos commented on #60
@kinow yes that sounds good. How about v. 0.24. Can we put it in the releases repository where update center gets its updates so that when it gets fixed we can pick up and continue from there. We can then share the link on the dev forum and BioUno?

[2015-03-25 13:08] kinow commented on #60
Done http://biouno.org/jenkins-update-center/releases/org/biouno/uno-choice/

@imoutsatsos can you send the announcement to the dev forum? :-) You can pick any previous release announcement as basis

[2015-03-25 14:41] varjojukka commented on #60
@imoutsatsos are you triggering the build with Build Triggers > Build periodically ? Still not working for me with the latest version.

[2015-03-25 18:33] imoutsatsos commented on #60
@varjojukka Build is triggered manually from the build button. Sorry if I miss-understood...

[2015-03-26 10:48] varjojukka commented on #60
@imoutsatsos I could have been more clear about his too, don't worry about it. But yes, the problem specifically exists with non-user triggered builds for example when using the periodical build timer.

[2015-03-26 18:21] devgeek578 commented on #76
Any update on this issue? I am evaluating Jenkins for my company and have been researching for days on a way to tackle an issue that I've ran into and it looks like the uno-choice-plugin will work perfectly, but I cannot install the plugin because I am unable to install biouno update site.

[2015-03-26 18:55] imoutsatsos commented on #76
@devgeek578 Glad you found the link. Let us know if you need any assistance in using the plugin.

[2015-03-27 00:02] kinow commented on #76
@devgeek578 once I get some a couple of days to work on this issue, as well as lots of coffee to debug Jenkins and the UpdateSites Manager, I'll try to take on this issue and make our Update Center available again.

[2015-03-27 00:35] devgeek578 commented on #76
Awesome,  thanks! Your plugin worked like a charm btw;)
 On Mar 26, 2015 7:02 PM, "Bruno P. Kinoshita" <notifications@github.com>
wrote:

[2015-03-27 01:28] kinow commented on #76
Thanks to all great feedback, bug reports, testing and help provided by its community (including you), and @imoutsatsos feature guidance and thorough testing :-) Let us know if you need anything else.

[2015-03-27 15:48] devgeek578 commented on #44
Hi @kinow

I'm trying to access the environment variables but the method you described doesn't seem to be working:

dev testVar = System.getenv()
return testVar['WORKSPACE']

[2015-03-27 19:23] kinow commented on #44
Hi @devgeek578, can you check please if other variables such as PATH, HOME, JENKINS_HOME, etc can be accessed with this approach? I don't recall right now, but I believe the workspace is set for the build, but not for the parameter screen.

[2015-03-27 19:37] devgeek578 commented on #44
Thanks for the reply @kinow !

I'm not able to access any of those either:

def testVar = System.getenv()
return testVar[JENKINS_HOME]

From what I'm reading it sounds like you're right with the environment variables not being available until the build starts. I understand variables not being available because the values are dependent on the build (ie, BUILD_NUMBER, BUILD_URL, BUILD_ID, etc.), but

[2015-03-27 19:47] kinow commented on #44
No worries. You are probably right, I don't have my workspace open at the moment to try, but considering the Workspace variable will be available and set, there are two strange things that I would investigate in this issue:
a) Why the other variables are not set (PATH was supposed to work I think). I'd take a look if there is another way to access env vars in Groovy or some peculiarity with my OS.

[2015-03-30 16:43] devgeek578 commented on #44
Hi @kinow

I was able to come up with a workaround using the method discussed here: https://github.com/biouno/uno-choice-plugin/issues/16#issuecomment-69653280

One last issue that I'm trying to figure out is how to access global properties inside this parameter value? I'm going to create a list of key value pairs as Global Properties to hold paths to be shared across several jobs.

[2015-03-31 01:03] kinow commented on #44
Hmmm, I'd have to set up a sample jenkins to try that. I never really used global properties in parameters. @imoutsatsos have you by any chance?

[2015-03-31 14:09] christophdebaene commented on #43
Great!
Is the new version already available through the updates (plugin) in Jenkins?

[2015-03-31 14:27] kinow commented on #43
Hi @christophdebaene, the new version (0.24) is available through our update center and should contain the fix for this issue. However, third party update sites are not working in recent versions of Jenkins (working on it).

It would be great if you could chime in in the thread with the proposal to release this plug-in through the update center https://groups.google.com/forum/#!topic/jenkinsci-dev

[2015-04-07 10:11] gabre opened #77 "Uno-choice reference parameter unusable"
I would like to do the following:
 1, create a single-selection menu
 2, depending on the value of the single-selection menu I would like to generate a form with HTML (e.g. if the value is "A" I would like to generate radio button; if the value is "B" I would like to generate two input fields and a checkbox)
I cannot use the values of the widgets of the form.

1, Is it possible to create such a be

[2015-04-07 10:15] gabre commented on #77
I cannot use the values of the widgets of the form. <- I mean the values of the GENERATED widgets (given with html)

[2015-04-07 11:18] imoutsatsos commented on #77
@gabre You have correctly pointed out that values from UC dynamic references are not typically passed to the build. This is by design. UC Dynamic References were designed to just assist you in making decisions about other parameters on the build form.

However, there is an exception to this. See this wiki page for additional details: https://github.com/biouno/uno-choice-plugin/wiki/Using-Uno-Choic

[2015-04-13 13:19] imoutsatsos commented on #76
@kinow has now posted a workaround to this issue. Please see the discussion on the BioUno users forum: https://groups.google.com/d/msg/biouno-users/-K7Xf5mtpeg/HXsjW6EvkuEJ

[2015-04-23 11:58] pdirksen commented on #72
I've got the same problem using Internet Explorer **8**.
If you fix this problem using **IE8** that might be solving the issue in IE9.

[2015-04-23 12:02] pdirksen opened #78 "Please provide a way to hide fields on dynamic references"
As the title says it would be a nice-to-have feature not only to disable fields and their labels but to hide them completely on a dynamic reference.

Thanks

[2015-04-23 12:22] imoutsatsos commented on #78
Can you please provide a use case for this request?  As a dynamic reference was originally envisioned for providing user feedback for selecting other parameters I can't quite see the need for hiding it, but perhaps you have come up with a new idea on how to use a dynamic reference parameter.  Thanks!

[2015-05-08 14:03] imoutsatsos commented on #72
We have started migrating to IE v11 in my company, and the issue seems resolved. Now, IEv11 works just as good as Chrome with the Uno-Choice plugin.

[2015-05-08 20:42] kinow commented on #72
Thanks for the feedback @imoutsatsos

@pdirksen unless there is something easy that we can do, I'd prefer to spend the development cycles that we have to release 1.0 and fix other issues - like adding support to the security plug-in.

If you have a pull request or patch that fixes the issue we can work on it during the next Mozilla Science Global Sprint, otherwise I think it may be better to close

[2015-05-09 12:25] pdirksen commented on #72
@kinow Yep, I guess there is something better to do (like adding a password field) than spending time building workarounds for ancient browsers.

[2015-05-09 21:34] kinow commented on #72
Exactly @pdirksen, unless it is something really simple or someone else can submit a pull request :-)

[2015-06-03 13:51] christophdebaene commented on #43
I have noticed that the plugin has been renamed to [Active Choices Plugin](https://wiki.jenkins-ci.org/display/JENKINS/Active+Choices+Plugin). Is there a way to test the plugin? In jenkins I added http://biouno.org/jenkins-update-site.html but is doesn't appear in the list.

[2015-06-03 23:36] kinow commented on #43
Hi @christophdebaene

We have released the 1.0 version to all users last night.

https://groups.google.com/forum/#!topic/biouno-users/pR6ZrFQqE80

[2015-06-04 02:31] kinow commented on #16
Should be fixed in the Active Choices 1.0 release. Closing.

[2015-06-04 02:31] #16 closed

[2015-06-04 02:42] kinow commented on #36
Moved to https://issues.jenkins-ci.org/browse/JENKINS-28734

[2015-06-04 02:42] #36 closed

[2015-06-04 02:44] kinow commented on #43
Closing. If the issue is still happening in Active Choices 1.0, please feel free to file a new issue to https://issues.jenkins-ci.org, component = active-choices-plugin :-) Thanks!

[2015-06-04 02:44] #43 closed

[2015-06-04 02:45] kinow commented on #44
Closing the issue, we can continue the discussion in the mailing list, or if there's a bug or enhancement, we can move that to https://issues.jenkins-ci.org (component = active-choices-plugin). Thanks!

[2015-06-04 02:45] #44 closed

[2015-06-04 02:46] kinow commented on #47
We need a better use case and example in order to work on this new parameter type. Please file an issue on https://issues.jenkins-ci.org, with component name active-choices-plugin if you can provide this information :-) Thanks!

[2015-06-04 02:46] #47 closed

[2015-06-04 02:48] kinow commented on #50
Closing for now. We can re-start this conversation now focusing on the 1.0 version.

[2015-06-04 02:48] #50 closed

[2015-06-04 02:50] kinow commented on #60
Created https://issues.jenkins-ci.org/browse/JENKINS-28735 to track this now in Active Choices 1.0. Please feel free to watch & comment on the issue to track its status and help us to fix it. Thanks!

[2015-06-04 02:50] #60 closed

[2015-06-04 02:53] kinow commented on #63
Moved to https://issues.jenkins-ci.org/browse/JENKINS-28736

[2015-06-04 02:53] #63 closed

[2015-06-04 02:56] kinow commented on #68
Seems to be working now. We have released 1.0, so this issue can be re-opened in https://issues.jenkins-ci.org, component name active-choices-plugin if it still persists

[2015-06-04 02:56] #68 closed

[2015-06-04 02:58] kinow commented on #69
Sees to be working now in 1.0. Please feel free to re-open an issue in https://issues.jenkins-ci.org/ with component name active-choices-plugin in case the issue persists. Thanks!

[2015-06-04 02:58] #69 closed

[2015-06-04 03:01] kinow commented on #70
Seems to be working now in 1.0. Please feel free to re-open an issue in https://issues.jenkins-ci.org/ with component name active-choices-plugin in case the issue persists. Thanks!

[2015-06-04 03:01] #70 closed

[2015-06-04 03:02] kinow commented on #71
Seems to be working now in 1.0. Please feel free to re-open an issue in https://issues.jenkins-ci.org/ with component name active-choices-plugin in case the issue persists. Thanks!

[2015-06-04 03:02] #71 closed

[2015-06-04 03:03] kinow commented on #72
Closing as we have released 1.0. Please feel free to re-open an issue in https://issues.jenkins-ci.org/ with component name active-choices-plugin in case the issue persists. Thanks!

[2015-06-04 03:03] #72 closed

[2015-06-04 03:05] kinow commented on #73
Moved to https://issues.jenkins-ci.org/browse/JENKINS-28737

[2015-06-04 03:05] #73 closed

[2015-06-04 03:07] kinow commented on #75
Moved to https://issues.jenkins-ci.org/browse/JENKINS-28732

[2015-06-04 03:07] #75 closed

[2015-06-04 03:10] kinow commented on #74
Moved to https://issues.jenkins-ci.org/browse/JENKINS-28738

[2015-06-04 03:10] #74 closed

[2015-06-04 03:11] kinow commented on #76
Version 1.0 has been released to Jenkins update center. Closing.

[2015-06-04 03:11] #76 closed

[2015-06-04 03:12] kinow commented on #77
Closing as version 1.0 has been released in Jenkins update center. Please feel free to move the conversation to https://issues.jenkins-ci.org, component = active-choices-plugin. Thanks!

[2015-06-04 03:12] #77 closed

[2015-06-04 03:13] kinow commented on #78
Closing as version 1.0 has been released to Jenkins update centre. Please feel free to re-open an issue in https://issues.jenkins-ci.org/ with component name active-choices-plugin in case the issue persists. Thanks!

[2015-06-04 03:13] #78 closed

[2015-07-13 12:06] qjafcunuas opened #79 "no jenkinsProject parameter on Cascade dynamic choice parameter"
Hi,

i've tried to get the script.binding.jenkinsProject variable on the groovy script of a Cascade dynamic choice parameter, but it doesn't exit.

uno-choice 0.24

tia

[2015-07-21 08:34] kinow commented on #79
Hi @qjafcunuas, we have temporarily enabled issues here while we migrate them to Jenkins JIRA. Could you report your issue there, please? https://issues.jenkins-ci.org, component = active-choices-plugins

Also, the latest version is the 1.0, released to via the Jenkins update center now.

[2015-07-21 08:34] #79 closed

[2015-09-15 06:21] marti1125 opened #80 "Willy Aguirre: new volunteer via Mozilla Science Lab Collaborate"
I have a little experience with jenkins and also I am working as a java developer
I hope to help you!!
https://github.com/marti1125<p><br><blockquote>This issue was created by @marti1125 via <a href='http://collaborate.mozillascience.org'>Mozilla Science Lab Collaborate</a></blockquote></p>

[2015-09-15 06:56] kinow commented on #80
Hi @marti1125

Happy that you are joining us.

What would you like to work on? Look for something that gets you really excited, that you have fun. In Active Choices Plug-in, any other of our [plugins](http://biouno.org/jenkins-plugins.html) or [projects](http://biouno.org/projects.html).

If you find anything interesting, you can already start hacking and send your questions, issues or pull reques

[2015-09-15 19:02] marti1125 commented on #80
I would like to contribute in this project https://github.com/biouno/pbs-java-api

![project](https://cloud.githubusercontent.com/assets/223240/9884153/dd9ae1d8-5ba3-11e5-9191-e7a9dd1b3faa.png)

how to I can test it?

Could I suggest to add some instructions for get start develop in the readme.md?
* mvn clean install
* mvn eclipse:eclipse | mvn netbeans:netbeans | mvn idea:idea

[2015-09-15 20:55] kinow commented on #80
Hi @marti1125

Excellent choice! It is in my TODO Lis for the next development cycle, so I think I can either test and review your changes, or work with you fixing/implementing something.

You will have to have a working PBS server. You can use Vagrant or Docker for that, as it is usually easier than getting a real PBS server.

Go for it. Documentation and tests are always welcome. If you change a

[2015-09-15 20:55] #80 closed

[2015-09-15 22:18] marti1125 commented on #80
cool =D @kinow  I opened a new post https://groups.google.com/forum/#!topic/biouno-developers/JTddcn6Qem8